nav{
    background-color:black !important;
}

nav ul li a{
    color:white;
    font-weight: bold;
    font-size: 18px;;
}

nav ul li a:hover{
    color:white;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }

  .navbar-brand{
      color:white;
      font-weight: bold;
      font-size: 24px;;
  }